* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0FBFC;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: #062654;
    text-align: center;
}


.addButton {
    color: white;
    background-color: #062654;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    font-family:'Courier New', Courier, monospace;
}

td {
    border: 1px solid #062654;
}

caption {
    font-family:'Courier New', Courier, monospace;
    color: #062654;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    font-size: 1em;
    min-width: 450px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

table th,
table td {
    padding: 10px 10px;
}

tbody tr:nth-child(odd) {
    background-color: #062654;
    color: #ffffff;
}

tr:not(:first-child):nth-child(even) {
    background-color: #7FADE0;
}

tr:not(:first-child):nth-child(odd) {
    background-color: #b7d0e6;
}

.viewButton {
    color: white;
    background-color: #4caf50;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-family:'Courier New', Courier, monospace;
}

.editButton {
    color: white;
    background-color: #ffa500;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-family:'Courier New', Courier, monospace;
}

.deleteButton {
    color: white;
    background-color: #DC143C;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-family:'Courier New', Courier, monospace;
}

.delete:hover {
    background-color: #800000;
}

.delete:active {
    background-color: #FF4500;
}